.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9));
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  max-width: 950px;
  margin: 0 auto;
  gap: 1rem;
  justify-content: center;
}

.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  color: light-dark(var(--mantine-color-dark-7), var(--mantine-color-gray-3));
}

.leftSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.rightSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 300px;
}

.logo {
  width: 30px;
  height: 45px;
}

.logo path,
.logo rect {
  fill: light-dark(#1A1A1A, #e1f1ff);
  stroke: light-dark(#1A1A1A, #e1f1ff);
}

.formTitle {
  text-align: center;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 8px 0;
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-0));
}

.subtitle {
  font-size: 0.875rem;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-4));
  margin-top: 8px;
  text-align: center;
}

.formCard {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 1px 1px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9))
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-0));
  font-weight: 500;
}

.inputRoot {
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-0));
  font-size: 1rem;
  transition: border-color 0.2s;
  border-radius: 0 !important;
}

.input:focus {
  border-bottom-color: #40a9ff !important;
}

.userIcon,
.lockIcon {
  position: absolute;
  left: 5px;
  font-size: 1rem;
  color: #909aa5;
}

.forgotLink {
  color: #40a9ff;
  font-size: 0.75rem;
  text-decoration: none;
  margin-top: 4px;
  display: inline-block;
}


.signInButton {
  margin-top: 16px;
  height: 42px;
  background-color: light-dark(var(--mantine-color-blue-3), var(--mantine-color-blue-2));
  border: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
  color: light-dark(var(--mantine-color-white), var(--mantine-color-black)) !important;
}

.signInButton:hover {
  background-color: var(--mantine-color-blue-7) !important;
}

.gradientButton:hover {
  opacity: 0.9;
}

.gradientButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.signupText {
  margin-top: 16px;
  text-align: center;
  font-size: 0.875rem;
  color: #637381;
}

.signUpLink {
  color: #40a9ff;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftSection,
  .rightSection {
    flex: none;
    width: 100%;
  }

  .leftSection {
    padding-bottom: 0;
  }

  .rightSection {
    padding-top: 0;
  }

  .formCard {
    box-shadow: none;
    padding: 20px;
  }
}